// Custom.scss
// bootstrap for defaults, change reminder below

$dkblue: rgb(0,87,119);
$uberdkblue: rgb(0, 44, 60);
$ltblue: rgb(0,139,188);
$yellowgr: rgb(187,188,0);
$ltyellowgr: rgb(254, 255, 230);
$uberltyellowgr: rgb(254, 255, 245);

body {
  background: linear-gradient(
    225deg,
    $ltblue 0%,
    // rgba(163, 176, 219, 1) 20%,
    // rgba(163, 173, 219, 1) 34%,
    $yellowgr 50%,
    // rgba(163, 208, 219, 1) 74%,
    $dkblue 100%
  );

  color: $ltyellowgr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  main {
    width: 480px;
    background-color: $dkblue;
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .navigation {
    width: 480px;
    background-color: $uberdkblue;
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  form {
    width: 450px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
  }

  .form-control:focus {  
    border-color: $dkblue;
    box-shadow: 0 0 0 0.4em $ltblue;
  }; 
  

  hr {
    color: $ltblue;
    opacity: 100%;
  }

  .major {
    opacity: 50%;
  }

  .minor {
    opacity: 25%
  }


  .bg-dark {
    background-color: $uberdkblue;
  }
  
  .text-bg-dark {
    background-color: $dkblue;
    color: $ltyellowgr;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .button {
    background-color: $ltblue;
    border-color: $dkblue;
    color: $ltyellowgr;
    padding: 0.4em 0.8em;
    min-width: 148px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.5em;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    cursor: pointer;
    border-style: groove;
  }

  .button:hover {
    background-color: $yellowgr;
    color: $dkblue;
  }

  .button:disabled {
    background-color: $dkblue;
    color: $ltblue;
    cursor: auto;
  }

  .button-large {
    font-size: 1.5em;
  }

  @media only screen and (min-width: 600px){
    main {
      width: 580px;
    }
  
    .navigation {
      width: 580px;
    }
  
    form {
      width: 550px;
    }
  }
    
  @media only screen and (min-width: 768px){
    main {
      width: 748px;
    }
  
    .navigation {
      width: 748px;
    }
  
    form {
      width: 728px;
    }
  }
  
  @media (min-width: 992px){
    main {
      width: 972px;
    }
  
    .navigation {
      width: 972px;
    }
  
    form {
      width: 942px;
    }
  }
};