// Custom.scss
// bootstrap for defaults, change reminder below

$dkblue: rgb(0,87,119);
$uberdkblue: rgb(0, 44, 60);
$ltblue: rgb(0,139,188);
$uberltblue: rgb(94, 159, 188);
$yellowgr: rgb(187,188,0);
$ltyellowgr: rgb(254, 255, 230);
$uberltyellowgr: rgb(254, 255, 245);

html {
  min-height: 100%; /* Look, it's not fixed anymore! */
  display: flex;
  flex-direction: column;
}

body {
  // align-self: center;
  background: linear-gradient(
    225deg,
    $ltblue 0%,
    // rgba(163, 176, 219, 1) 20%,
    // rgba(163, 173, 219, 1) 34%,
    $yellowgr 50%,
    // rgba(163, 208, 219, 1) 74%,
    $dkblue 100%
  );

  color: $ltyellowgr;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-grow: 1;

  main {
    width: 480px;
    background-color: $dkblue;
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // align-content: flex-start;

    section {
      article {
        header {
          display: flex;
          flex-direction: column;
          align-content: center;
          div.row#resultsArea {
            height: 450px;
            width: 100%;
            align-self: center;
            canvas#resultsChart {
              position: relative; 
              margin-bottom: 20px;
              background-color: $uberdkblue;
              padding: 1em;
            }
          }
        }
      }
    }
  }

  .navigation {
    width: 480px;
    background-color: $uberdkblue;
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  form {
    width: 430px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .polls {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }


  .form-control:focus {  
    border-color: $dkblue;
    box-shadow: 0 0 0 0.4em $ltblue;
  }; 

  .bg-dark {
    background-color: $uberdkblue;
  }
  
  .text-bg-dark {
    background-color: $dkblue;
    color: $ltyellowgr;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
  
  .button {
    background-color: $ltblue;
    border-color: $dkblue;
    color: $ltyellowgr;
    padding: 0.4em 0.8em;
    min-width: 148px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.5em;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    cursor: pointer;
    border-style: groove;
  }

  .button:hover {
    background-color: $yellowgr;
    color: $dkblue;
    border-color: $dkblue;
    box-shadow: 0 0 0 0.4em $ltblue;
  }

  .button:disabled {
    background-color: $dkblue;
    color: $ltblue;
    cursor: auto;
    box-shadow: none;
  }

  .button-large {
    font-size: 1.5em;
  }
  .button-small {
    background-color: transparent;
    border-color: transparent;
    padding: 0em 0.5em;
    min-width: auto;
  }

  .button-link {
    background-color: transparent;
    border-color: transparent;
    padding: 0em 0.5em;
    max-width: 130px;
    color: $yellowgr;
    text-decoration: underline;
  }

  .button-link:hover {
    color: $uberltblue;
  }

  .titling {
    background-color: $uberdkblue;
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  hr {
    color: $ltblue;
    opacity: 100%;
  }

  hr.major {
    opacity: 75%;
  }

  hr.minor {
    opacity: 50%
  }

  a {
    color: $yellowgr;
    text-decoration: underline;
  }

  a:hover {
    color: $uberltblue;
  }

 
  #sortable { 
    list-style-type: none; margin: 0; padding: 0; 
  }

  #sortable li { 
    margin: 0; 
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: $uberltblue;
    border-color: $dkblue;
    color: $ltyellowgr;
    display: inline-block;
    width: 100%;
    font-size: 1em;
    line-height: 1;
    border-radius: 0.5em;
    font-weight: 400;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
    overflow: visible;
    // margin: 0;
    font-family: inherit;
    cursor: pointer;
    border-style: groove;
  }

  #sortable li:hover {
    background-color: $yellowgr;
    color: $dkblue;
    border-color: $dkblue;
    box-shadow: 0 0 0 0.4em $ltblue;
  }

  @media only screen and (min-width: 600px){
    main {
      width: 580px;
    }
  
    .navigation {
      width: 580px;
    }
  }
    
  @media only screen and (min-width: 768px){
    main {
      width: 748px;
    }
  
    .navigation {
      width: 748px;
    }
  }
  
  @media (min-width: 992px){
    main {
      width: 972px;
    }
  
    .navigation {
      width: 972px;
    }
  }
};